doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title=title
  // Latest compiled and minified CSS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  // Optional theme
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
  // Latest compiled and minified JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.btn-group
      if prevID >= 0
        a.btn.btn-primary.btn-xs(href=prevWebHref, role='button') Wcze&sacute;niejsze
      else
        a.btn.btn-primary.btn-xs.disabled(href=prevWebHref, role='button') Wcze&sacute;niejsze
      a.btn.btn-primary.btn-xs(href=nextWebHref, role='button') P&oacute;&zacute;niejsze
  table.table.table-striped(style='margin-bottom: 0px !important;')
    each message in messages
      tr
        td(style='width: 150px !important') #{message.date}
        td(style='width: 100px !important') #{message.author}
        td #{message.text}
      tr
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12.btn-group
      if prevID >= 0
        a.btn.btn-primary.btn-xs(href=prevWebHref, role='button') Wcze&sacute;niejsze
      else
        a.btn.btn-primary.btn-xs.disabled(href=prevWebHref, role='button') Wcze&sacute;niejsze
      a.btn.btn-primary.btn-xs(href=nextWebHref, role='button') P&oacute;&zacute;niejsze
// /container
